/**
 * main.css
 *
 * Main styles
 */

body {
  margin: auto;
  max-width: 1000px;
  min-width: 340px;
  color: #2d3c49;
  padding: 1em;
}

/**
 * Navbar
 */

.nav-text {
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  border-bottom: 4px solid #7d97ad;
}

/**
 * Headers
 */

h1 {
  font-size: 4em;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  color: #7d97ad;
  font-weight: 400;
  font-size: 2em;
}

/**
 * Card
 */

.card-body {
  padding-top: 0.2em;
}

.card-title {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.card-text {
  font-size: 0.9em;
}

/**
 * Images
 */

img:not(.img-logo) {
  width: 100%;
}

/**
 * Links
 */

a:link {
  color: inherit;
}

a:visited {
  color: #7d97ad;
}

a:hover {
  color: #02b3e4;
}

/**
 * Extra style
 */

.no-padding {
  padding-left: 0;
  padding-right: 0;
}
